<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <a class="navbar-brand" routerLink="/inicio">
    <span class="material-icons text-danger m-auto align-middle icon-mid">local_hospital</span>
    <span class="text-danger"> EPS</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/citas">Citas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pacientes">Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuarios">Usuarios</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-danger" routerLink="/login">Cerrar Sesión</a>
    </div>
  </div>
</nav>