<div class="w-100 h-100">

    <div class="card card-body border-0 shadow align-middle m-auto" style="width: 350px;">
        <h3>Login</h3>
        <span class="material-icons text-danger m-auto icon-big">local_hospital</span>
        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="">Usuario</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-12 form-group">
                <label for="">Contraseña</label>
                <input type="password" class="form-control">
            </div>
            <div class="col-sm-12">
                <a class="btn btn-sm btn-danger w-100" routerLink="/citas">Ingresar</a>
            </div>
        </div>
    </div>

</div>